*{
  box-sizing: border-box;
}

/* display */
.justify_center{
  display: flex;
  justify-content: center;
}
.justify_around{
  display: flex;
  justify-content: space-around;
}
.justify_between{
  display: flex;
  justify-content: space-between;
}
.align_center{
  display: flex;
  align-items: center;
}

/* font-size */
.font_size_14{
  font-size: 14px;
}
.font_size_15{
  font-size: 15px;
}
.font_size_16{
  font-size: 16px;
}
.font_size_20{
  font-size: 20px;
}