#header{
  background: red;
  color: #fafafa;
  height: 60px;
  padding: 0 25px;
}
#header .header_left{
  background: maroon;
}
#header .header_left i{
  background: violet;
  padding: 0 25px 0 0;
}
#header .header_left img{
  background: deeppink;
  display: block;
  padding: 0 70px 0 0;
}
#header .header_left form input{
  padding: 0 0 0 10px;
  width: 590px;
  height: 30px;
}
#header .header_left form button{
  width: 70px;
  height: 30px;
  padding: 0 0 0 20px;
}
#header .header_left form button i{
  font-size: 18px;
}
#header .header_right{
  background: pink;
  width: 180px;
}
#header .header_right img{
  width: 35px;
  border-radius: 100%;
}