#main{
  padding: 27px 0;
}
#main .container{
  width: 1070px;
  margin: 0 auto;
}
#main .container .main_top{
  color: gray;
  padding: 0 0 30px 0;
}
#main .container .main_bottom .main_bottom_bunner{
  padding: 0 0 27px 0;
}
#main .container .main_bottom .videos{
  flex-wrap: wrap;
}
#main .container .main_bottom .videos .videos_area{
  width: 214px;
  height: 204px;
  padding: 0 4px 0 0;
}
#main .container .main_bottom .videos .videos_area:nth-child(5n){
  padding-right: 0;
}
#main .container .main_bottom .videos .videos_area .video_panel img{
  width: 100%;
  height: 118px;
}
#main .container .main_bottom .videos .videos_area .video_text{
  width: 100%;
  height: 94px;
  padding: 9px 0 10px 0;
  flex-direction: column;
  line-height: 17px;
}
#main .container .main_bottom .videos .videos_area .video_text .video_text_bottom{
  color: grey;
  line-height: 20px;
}

@media(max-width:1090px){
#main .container{
  width: 860px;
}
#main .container .main_bottom .videos .videos_area{
  width: 215px;
}
#main .container .main_bottom .videos .videos_area:nth-child(4n){
  padding-right: 0;
}
}


@media(max-width:875px){
#main .container{
  width: 640px;
}
#main .container .main_bottom .videos .videos_area{
  width: 213px;
}
#main .container .main_bottom .videos .videos_area:nth-child(3n){
  padding-right: 0;
}
#main .container .main_bottom .videos .videos_area:nth-child(3n + 1){
  padding-right: 4px;
}
}


@media(max-width:660px){
#main .container{
  width: 400px;;
}
#main .container .main_bottom .videos .videos_area{
  width: 200px;
}
#main .container .main_bottom .videos .videos_area:nth-child(2n){
  padding-right: 0;
}
#main .container .main_bottom .videos .videos_area:nth-child(2n + 1){
  padding-right: 4px;
}
}